<head>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@700&family=Nunito:wght@400;600;700;800&display=swap" rel="stylesheet">
  <link href="/css/styles.css" rel="stylesheet"/>
</head>
 
<!-- NAVBAR -->
<nav class="navbar navbar-expand-lg navbar-light bg-dark-gray fixed-top">
  <div class="container-fluid navbar-div">
    <a class="navbar-brand" href='/'><img src="/assets/full_logo_white.png" alt="full logo white" class="icon-mrcoffee-navbar"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
      <div class="navbar-nav text-nowrap">
        <a class="nav-link active" aria-current="page" href='/'>Welcome</a>
        <a class="nav-link" href='/users'>Users</a>
        <a class="nav-link" href='/schedules'>Schedules</a>
      </div>
    </div>
  </div>
</nav>

<!-- HEADER -->
<header>
  <div class="container">
    <img class="logo-header" src="/assets/logo_mrcoffee.png" alt="logo mrcoffee">
  </div>
</header>